*{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    color: white;
    padding: 0px;
    text-align: center;

}
.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    float: left;
}

.service-section, .contact-section, .alliance-section{
    margin-bottom: 2rem;
}

.address {
    font-weight: bold;
    float: left;
    margin-top: 2%;
}

footer {
    background-color: #333;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: static;
    bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #4CAF50;
}

menu{
    margin-top: 1%;
}

.infobubble li{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.infobubble li img:hover{
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.infobubble li img{
    padding: 5px;
    width: 9%;
}

.infobubble{
    margin-top: 20px;
    position: relative;
    top: 25%;
    left: 25%;
}

.banner {
    margin-top: 0%;
    z-index: -1;
    position: absolute;
    background-color: #4CAF50;
    margin-bottom: auto;
    width: 100%;
}

.bannerIndex {
    margin-top: 0%;
    z-index: -1;
    position: absolute;
    background-color: #4CAF50;
    margin-bottom: auto;
    width: 100%;
}

.banner img{
    width: 120rem;
    float: left;
    height: 200px;
}

menu li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

menu li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

menu li a:hover{
    color:#ffed00
}

menu li .selectNav{
    color: #ffed00;
}

footer .logo{
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

header .logoBanner{
    width: 300px;
    margin-top: 2%;
}

.text{
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

.recibo{
    position: relative;
    top: 25%;
    left: 28%;
    width: 45%;
}

.subtext{
    color: #000000;
}

.quoteButton{
    background-color: #4CAF50;
    border-radius: 20px;
    text-align: center;
    width: 25%;
    padding: 5px;
    margin-top: 20px;

    position: relative;
    top: 25%;
    left: 38%;
}

.quoteButton a{
    color: #ffed00;
    text-decoration: none;
}

/*formulario*/
.formulario{
    position: relative;
    left: 28%;
    width: 50%;
    top: 15px;
    margin-bottom: 15px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}
.gender-group, .hobbies-group {
    margin-bottom: 15px;
}
.submit-btn {
    width: 25%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 35%;
}
.submit-btn:hover {
    background-color: #218838;
}