*{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    color: white;
    padding: 0px;
    text-align: center;

}
.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    float: left;
}

.service-section, .contact-section, .alliance-section{
    margin-bottom: 2rem;
    float: left;
    width: 100%;
    overflow: hidden;
}

.address {
    font-weight: bold;
    float: left;
    margin-top: 2%;
}

footer {
    background-color: #333;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: static;
    bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #4CAF50;
}

menu{
    margin-top: 1%;
}

.infobubble li{
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}


.infobubble li .infobubble-img:hover{
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.infobubble-text{
    visibility: hidden;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.infobubble-img, .info-img{
    float: left;
    padding-top: 10px;
}

.infobubble-img, .info-img p{
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 23px;
    padding-bottom: 10px;
    text-align: center;
}

.info-img img{
    border-radius: 150px;
}

.infobubble li div:hover .infobubble-text,
.infobubble li div:hover .infobubble-list{
    visibility: visible;
}

.infobubble li img{
    padding: 5px;
    width: 242px;
}

.infobubble{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

.infobubble-list{
    display: grid;
    margin-bottom: 10px;
    visibility: hidden;
    padding: 10px;
}

.infobubble-list li{
    list-style-type: disc;
    text-align: left;
}

.banner {
    margin-top: 0%;
    z-index: -1;
    position: absolute;
    background-color: #6ab75a;
    margin-bottom: auto;
    width: 100%;
}

.bannerIndex {
    margin-top: 0%;
    z-index: -1;
    position: absolute;
    background-color: #4CAF50;
    margin-bottom: auto;
    width: 100%;
}

.banner img{
    float: left;
    height: 200px;
}

menu li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

menu li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

menu li a:hover{
    color:#ffed00
}

menu li .selectNav{
    color: #ffed00;
}

footer .logo{
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

header .logoBanner{
    width: 300px;
    margin-top: 2%;
}

.text{
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

.recibo{
    position: relative;
    top: 25%;
    left: 28%;
    width: 45%;
}

.subtext{
    color: #000000;
}

.quoteButton{
    background-color: #4CAF50;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    top: 25%;
    left: 38%;
}

.getinfo{
    position:initial;
    width: 95%;
    color: #fff;
}

.quoteButton a{
    color: #ffed00;
    text-decoration: none;
}

/*formulario*/
.formulario{
    position: relative;
    left: 30%;
    width: 40%;
    top: 15px;
    margin-bottom: 15px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}
.gender-group, .hobbies-group {
    margin-bottom: 15px;
}
.submit-btn {
    width: 25%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 35%;
}
.submit-btn:hover {
    background-color: #218838;
}

.form-contact{
    background-color: #fff;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    padding: 10px;
    padding-right: 10px;
    padding-right: 20px;
}

.center-text {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  #DataContact p{
    text-align: center;
    margin-top: 25px;
  }

  .none-link{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }